requests
beautifulsoup4
seaborn==0.13.2
plotly==6.4.0
yfinance==0.2.66
pandas==2.2.2
numpy==2.0.2
schedule
Bottleneck==1.3.7
shioaji==1.2.9
lxml==6.0.2
statsmodels==0.14.5
ta-lib-everywhere
gdown==4.7.1